.starDiv {
  width: 40px;
  max-width: 40px;
  height: 38px;
  max-height: 38px;
  padding: 0px;
  margin: -3px;
  display: inline-block;
  cursor: pointer;
}

.innerStarDiv {
  width: 36px;
  max-width: 36px;
  height: 34px;
  max-height: 34px;
  padding: 0px;
  margin: 4px;
}

.silverStar {
  background: url("../images/star1s.png");
}

.goldStar {
  background: url("../images/star2s.png");
}

#userHasVoted {
  font-size: 10px;
}

.appPage {
  padding: 4px;
}

#appNameDiv {
  font-size: 24px;
  margin: 8px;
}

#shortDescrDiv {
  font-size: 16px;
  margin-top: 12px;
}

#fullDescrDiv {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 14px;
}

#imgDiv {
  max-width: 460px;
  max-height: 440px;
}

#imgDiv img {
  max-width: 460px;
  max-height: 440px;
}

#screenshotsDiv {
  margin-top: 12px;
}

/* index page */

#topDiv {
  width: 100%;
}

#topInnerDiv {
  margin: 15px;
  background-color: lightgray;
  font-size: 32px;
  padding: 20px;
}

#sortSelector {
  width: 100%;
  padding: 15px;
}

.sortDiv {
  display: inline-block;
  margin-right: 20px;
  margin-left: 5px;
}

.sortDiv input {
  margin-right: 10px;
}

#mainAppsDiv {
  width: 100%;
  background-color: white;
}

.appDiv {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  max-width: 300px;
}

#mainAppsDiv a {
  color: black;
}

#mainAppsDiv a:link {
  color: black;
}

#mainAppsDiv a:visited {
  color: black;
}

#sortSelector {
  display: inline-block;
  width: 48%;
}

#tagSearch {
  display: inline-block;
  width: 48%;
}

#searchHeader {
  margin: 15px;
  background-color: lightgray;
  font-size: 28px;
  padding: 20px;
}

#topLogo {
  display: table;
}

#topLogoInner {
  display: table-cell;
  vertical-align: middle;
  font-size: 24px;
  color: black;
}

#topLogoInner a,a:link,a:visited {
  color: black;
}
